.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .container-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  /* utils */
  
  .light {
    font-weight: 300;
  }
  
  .text-center {
    text-align: center;
  }
  
  .cards_box p {
    color: rgba(255, 255, 255, 0.801);
  }
  
  /* cards */
  
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .cards_box {
    padding: 5px 0px 15px;
    flex: 1 100%;
    /*border: .5px solid #CECECE;*/
    margin: 15px;

  }
  
  .cards_box h4 {
    margin: 25px 0 20px 0;
    color: white;
  }
  
  .cards_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 50px;
    max-height: 88px;
    background-color: #50030d;
    padding: 28px;
    border-radius: 50%;
  }
  .cards_box a {
    color: white;
    padding: 8px 35px;
    border: 2px solid #50030d;
  }
  .cards_box a:hover {
    background-color: #50030d;
    color: white;
  }
  /* media queries */
  
  @media(min-width: 768px) {
    .cards_box {
      flex: 1 calc(50% - 30px);
    }
  }
  
  @media(min-width: 1024px) {
    .container-wrapper {
        width: 950px;
    }
    .cards_box {
      flex: 1 calc(32% - 30px);
    }
  }