.eboard-body{
    background-color: white;
}
.eboard-header {
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.eboard-header h1 {
    padding-top: 5%;
    color: black;
}
.eboard-main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-box{
    position: relative;
    width: 1550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-box .box{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container-box .box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:white;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.container-box .box:hover .imgBox{
    clip-path: circle(80px at center 100px);
    transition-delay: 0;
}
.container-box .box:hover .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-box .box .content-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}
.container-box .box .content-box h2{
    margin: 0;
    padding: 0;
    color: black;
}
.container-box .box .content-box h2,
.container-box .box .content-box p{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
    color: black;
}
.container-box .box:hover .content-box h2
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.container-box .box:hover .content-box p
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.7s;
}
/* media queries */
  
@media(max-width: 1080px) {
    .container-box{
        width: 280px;
    }
footer {
        background-color: #931420;
        clear: both;
    
}
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: aliceblue;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 0.5rem;
    }
}