body, html {
    height: 100%;
    }
    .bg {
    background-image: url("../images/back_ground_gray.png");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    }
    .center {
        padding: 270px 0;
        text-align: center;
      }
    .backg {
      background-image: url("../images/back_ground_gray.png");
      height: 35vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
      }
    .textColor {
      color: white;
    }